@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles for the new theme */
body {
  @apply bg-gray-50 text-gray-800 antialiased;
}

/* Custom animation delays */
.animation-delay-300 {
  animation-delay: 0.3s;
}
.animation-delay-600 {
  animation-delay: 0.6s;
}
.animation-delay-2000 {
  animation-delay: 2s;
}
.animation-delay-4000 {
  animation-delay: 4s;
}
